<!DOCTYPE html>
<head>

</head>
<body>
    <h1>Here are summary graphs</h1>
    <p>This is a graph of device counts for all devices. Of note, all access points are also considered WLAN devices here.</p>
    <img src="/dev_counts.png" >
    <br>
    <br>
    <br>
    <p>This is a bar graph of manufacturer counts, excluding unknown manufacturers which was the majority.</p>
    <img src="/manuf_counts.png" >
    <br>
    <br>
    <br>
    <p>This is a pie chart of percentages of manufacturers, excluding unknown manufacturers which was the majority.</p>
    <img src="/manuf_count_pie.png" >
    <br>
    <br>
    <br>
    <p>This is a pie chart of percentages of device types.</p>
    <img src="/type_counts.png" >


</body>