<!DOCTYPE html>
<head>

</head>
<body>
    <h1>Here are summary graphs for a large dataset from Brown, as well as a large dataset from The Flats.</h1>
    <h2>Brown Summary Data</h2>
    <p>This is a graph of device counts for all devices at Brown. Of note, all access points are also considered WLAN devices here.</p>
    <img src="/brown_dev_counts.png" >
    <br>
    <br>
    <br>
    <p>This is a bar graph of manufacturer counts at Brown, excluding unknown manufacturers which was the majority.</p>
    <img src="/brown_manuf_counts.png" >
    <br>
    <br>
    <br>
    <!-- <img src="/brown_manuf_count_pie.png" >
    <p>This is a pie chart of percentages of manufacturers at Brown, excluding unknown manufacturers which was the majority.</p>
    <br>
    <br>
    <br> -->
    <p>This is a pie chart of percentages of device types at Brown.</p>
    <img src="/brown_type_counts.png" >
    <br>
    <br>
    <br>
    <h2>The Flats Summary Data</h2>
    <p>This is a graph of device counts for all devices at The Flats. Of note, all access points are also considered WLAN devices here.</p>
    <img src="/flats_dev_counts.png" >
    <br>
    <br>
    <br>
    <p>This is a bar graph of manufacturer counts at The Flats, excluding unknown manufacturers which was the majority.</p>
    <img src="/flats_manuf_counts.png" >
    <br>
    <br>
    <br>
    <!-- <img src="/flats_manuf_count_pie.png" >
    <p>This is a pie chart of percentages of manufacturers at The Flats, excluding unknown manufacturers which was the majority.</p>
    <br>
    <br>
    <br> -->
    <p>This is a pie chart of percentages of device types at The Flats.</p>
    <img src="/flats_type_counts.png" >


</body>